{% extends 'base.html' %}
<div class="topnav">
        <a class="active" href="article">Blog</a>
        <a class="active" href="index">Main</a>
        <a class="active" href="about">About</a>
        <a class="active" href="for_us">For us</a>
        <a class="active" href="veterinarsadvice">Veterinar's advice</a>
</div>


<h4>{% block title %}Contacts{% endblock %}</h4>



{% block content %}


    <h1>Контакты</h1>
    <h3>Телеграм аккаунт разроботчика по ссылке: https://t.me/Triugolnik180</h3>


{% endblock %}
