h2 {
  background-color: lightblue;
  color: white;
}

/* Общие стили для всего документа */
* {
  box-sizing: border-box; /* Указывает, что ширина и высота элементов включают в себя границы и внутренние отступы */
  margin: 0; /* Убирает внешние отступы у всех элементов */
  padding: 0; /* Убирает внутренние отступы у всех элементов */
  font-family: Arial, sans-serif; /* Задает семейство шрифтов для всех элементов */
}

/* Стили для меню навигации */
.topnav {
  display: flex; /* Делает элементы меню гибкими, чтобы они могли распределяться по горизонтали */
  justify-content: space-around; /* Распределяет элементы меню равномерно по горизонтали */
  align-items: center; /* Выравнивает элементы меню по вертикали */
  background-color: #333; /* Задает цвет фона для меню */
  height: 50px; /* Задает высоту для меню */
}

.topnav a {
  color: white; /* Задает цвет текста для ссылок в меню */
  text-decoration: none; /* Убирает подчеркивание у ссылок */
  font-size: 18px; /* Задает размер шрифта для ссылок */
}

.topnav a:hover {
  background-color: #ddd; /* Задает цвет фона для ссылок при наведении курсора */
  color: black; /* Задает цвет текста для ссылок при наведении курсора */
}

.topnav a.active {
  background-color: dodgerblue; /* Задает цвет фона для активной ссылки */
  color: white; /* Задает цвет текста для активной ссылки */
}

/* Стили для заголовков */
h2 {
  text-align: center; /* Выравнивает текст по центру */
  margin-top: 20px; /* Добавляет внешний отступ сверху */
  margin-bottom: 10px; /* Добавляет внешний отступ снизу */
}

h3 {
  text-align: center; /* Выравнивает текст по центру */
  margin-top: 10px; /* Добавляет внешний отступ сверху */
  margin-bottom: 10px; /* Добавляет внешний отступ снизу */
}

/* Стили для абзаца */
p {
  text-align: justify; /* Выравнивает текст по ширине */
  margin: 10px; /* Добавляет внешние отступы со всех сторон */
  padding: 10px; /* Добавляет внутренние отступы со всех сторон */
  border: 1px solid black; /* Добавляет границу вокруг абзаца */
}