{% extends 'base.html' %}


<h4>{% block title %}Советы ветеринаров{% endblock %}</h4>


{% block content %}


    <h3>Общие правила по подбору ветеринарных диет</h3>
    <h3>1.При необходимости перехода от каждодневных кормов к ветеринарной диете не следует менять производителя корма.
    Резкая смена рациона может привести к сбою работы желудочно-кишечного тракта (рвота, диарея, запор).
    </h3>
    <h3>2.Все ветеринарные диеты в разрезе каждого из заболеваний произведены по одному принципу и их воздействие на организм питомца одинаково.
    Высокое качество ветеринарных диет гарантировано всеми производителями.</h3>

    <h3>3.Откажитесь от кормов, продаваемых на развес.
    Под воздействием кислорода жиры, входящие в состав корма, быстро окисляются, что придает корму прогорклый вкус. Дома хранить корм следует в прохладном темном месте в заводской упаковке и следить за тем, чтобы она всегда была закрыта.
    </h3>
    <h3>4.При отказе от пищи замените сухой корм влажным аналогом от того же производителя.
    Домашние питомцы, особенно кошки, отдают предпочтение влажным кормам в большей степени, чем сухим. Если упаковка с влажным кормом вскрыта, нужно переложить остатки корма в керамическую или стеклянную тару, накрыть крышкой и хранить в холодильнике, согласно рекомендаций производителя (см. информацию на упаковке), но не более 3 дней.
    </h3>
    <h3>5.При отказе от сухого и влажного кормов одного производителя, замените диету кормом другого производителя.
    Чтобы избежать сбоя работы желудочно-кишечного тракта (диарея, запор, рвота) переходите на новый корм постепенно в течение 7 дней, добавляя к старому корму новый. Чтобы облегчить состояние животного, приобретите пребиотик – живые бактерии (Фортифлора, Лактобифид)
    </h3>
    <h3>6.При полном отказе питомца от еды необходимо срочно обратиться к ветеринарному врачу.
    Он назначит капельницы для поддержания в организме необходимого уровня жизненно-важных компонентов.
    </h3>
    <h3>
    7.Ветеринарные корма являются строгими моно-диетами на весь период, обозначенный ветеринарным врачом или рекомендованный производителем.
    При назначении лечебных кормов следует исключить из рациона все, кроме воды. Нарушение диеты чревато резким ухудшением состояния питомца, а при некоторых заболеваниях – к непоправимым последствиям. Лучше предложить питомцу влажный аналог сухого лечебного корма. Являясь полноценным лечебным рационом, паштет или кусочки в желе/соусе разнообразят рацион животного и максимально удовлетворят его вкусовые потребности.
    </h3>
    <h3>
    8.Ветеринарные диеты применяются ТОЛЬКО при наличии патологий и назначается ветеринарным врачом.
    Неправильно подобранный рацион приведет к резкому ухудшению самочувствия питомца, а при некоторых заболеваниях, таких как почечная недостаточность, мочекаменная болезнь, кишечная непроходимость, панкреатит и др. – к гибели питомца.
    </h3>

{% endblock %}
