{% extends 'base.html' %}

{% block title %}Каталог{% endblock %}



{% block content %}
    

    <div class="mt-3 rounded-3 bg-body-tertiary p-4">
        <h3>{{ product.get_name }}</h3>
        <div class='row mt-4'>
            <div class="col-4">
                <img src='{{ product.previewURL }}' class='card-img-top' alt='{{ product.get_name }}'>
            </div>
            <div class="col-8">
                <p>Ціна: {{ product.price }} грн</p>
<!--                <p>Категорія: {{ product.category }}</p>-->
                <p>{{ product.description }}</p>

                <form action="{% url 'blog:create' %}" method="post" enctype="multipart/form-data">

                <div class="modal-body">
                    {% csrf_token %}
                    {{ form_create_post }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"> Додати до кошику</button>

                </div>
            </form>

<!--                <style>-->
<!--                    .add-to-cart {-->
<!--                        background-color: #3399ff;-->
<!--                        color: #FFFFFF;-->
<!--                        border-color: #3399ff;-->
<!--                        border-radius: 7px;-->
<!--                        padding: 5px;-->

<!--                    }-->
<!--                </style>-->
<!--                <button class="add-to-cart">-->
<!--                    Додати до кошику-->
<!--                </button>-->
            </div>
        </div> 

    </div>
{% endblock %}

